footer.icon-bar.five-up
	a.item
		img(src='img/yeti-icons/fi-home.svg')
		label Home
		a.item
			img(src='img/yeti-icons/fi-bookmark.svg')
			label Bookmark
		a.item
			img(src='img/yeti-icons/fi-info.svg')
			label Info
		a.item
			img(src='img/yeti-icons/fi-mail.svg')
			label Mail
		a.item
			img(src='img/yeti-icons/fi-like.svg')
			label Like
