head
	title TrydentIO
	link(type='image/png', rel='icon', href='img/trydent_icon.png')
	//link(type='text/css', rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0/pure-min.css')
	link(type='text/css', rel='stylesheet', href='ui/yeti/css/foundation.min.css')
	link(type='text/css', rel='stylesheet', href='ui/yeti-icons/foundation-icons.css')
	link(type='text/css', rel='stylesheet', href='css/animate.css')
	link(type='text/css', rel='stylesheet', href='css/main.css')
	link(type='text/css', rel='stylesheet', href='http://fonts.googleapis.com/css?family=Marvel')
