nav.top-bar(data-topbar='data-topbar', role='navigation', style='color: #F5F7FA;')
	ul.title-area
		li.name: h1: a(href='#')
			img(alt='', src='img/trydent_icon.svg', style='width:24px;height:24px;margin-right:5px;')
			| <strong>try</strong>dent<span style="color:#4FC1E9;">IO</span>
		li.toggle-topbar.menu-icon
			a(href='#')
				span Menu
		section.top-bar-section
			ul.right
				li.active
					a(href='#') Right Button Active
