section#landing
	img#cloud1(alt='', src='img/landing/big_cloud.png', data-xrange='40', data-yrange='40')
	img#cloud2(alt='', src='img/landing/small_cloud.png', data-xrange='40', data-yrange='40', data-invert='true')
	img#cloud3(alt='', src='img/landing/big_cloud.png', data-xrange='40', data-yrange='40', data-invert='true')
	img#cloud4(alt='', src='img/landing/small_cloud.png', data-xrange='40', data-yrange='40')
	img#seagod(alt='', src='img/landing/poseidon_cliff.png', data-xrange='20', data-yrange='20', data-invert='true')
	img#waves4(alt='', src='img/landing/wave4.png', data-xrange='20', data-yrange='20', data-invert='true')
	img#waves3(alt='', src='img/landing/wave3.png', data-xrange='40', data-yrange='40')
	img#waves2(alt='', src='img/landing/wave2.png', data-xrange='20', data-yrange='20', data-invert='true')
	img#waves1(alt='', src='img/landing/wave1.png', data-xrange='40', data-yrange='40')